.row
  .col-md-12
    %h1
      =Faker::Lorem.sentence 
      %small 
        =Faker::Lorem.word << 'activiteit'
.row
  .col-md-8
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-time
      .col-xs-11
        %p
          = Faker::Date.backward(14)
          %br 17:20
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-map-marker
      .col-xs-11
        %p Münster, NRW, Deutschland
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-globe
      .col-xs-11
        %p
          %a{:href => "http://www.muenster.de/stadt/weihnachtsmarkt/"} http://www.muenster.de/stadt/weihnacht...
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-book
      .col-xs-11
        %p
          %a{:href => "/commissions/10"} Condico
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-align-left
      .col-xs-11
        - Faker::Lorem.paragraphs.each do |par|
          %p.text-justify 
            = par
  .col-md-4
    .panel.panel-default
      .panel-heading Programma
      .panel-body
        %p.text-info Geen programma
      %table.table
        %tbody
    .panel.panel-info
      .panel-heading Inschrijflijst
      .panel-body Je moet inloggen om inschrijvingen te zien of aan te vullen.
.row
  .col-md-12
    %h2{:id=>'uitslagen'} 
      Uitslagen
.row
  .col-md-12
    -(1+rand(5)).times do |rslt|
      %table.table
        %thead
          %tr
            %th{:colspan=>'4'}
              = Faker::Lorem.word
        %tbody
          - (1+rand(7)).times do |n_uit|
            %tr
              %th.row.col-xs-1
                =(n_uit+1+rand(5)).to_s
              %td.col-xs-5
                = Faker::Name.name 
              %td.col-xs-3
                tijd
              %td.col-xs-3
                snel
 
