/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css";

/**** ALGEMEEN ****/
body{
  margin:0;
  padding:0;
  margin-bottom: 120px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #F5F5F5;
}

.navbar-custom {
  color:#ffffff;

}

.navbar-default .container{
  background-color:#369866;
}

.navbar-default .navbar-nav > li > a {
  color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
}
.navbar-custom .navbar-brand {
  color:#eeeeee;
}

.logo-top{
  background-color:#369866;
  padding-top:0px;
}

.footer .container{
  background-color:#369866;
  height: 120px;
}
h1{
  color:#369866;
  font-family: 'Droid Serif', serif;
}

h2{
  font-family: 'Droid Serif', serif;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  padding-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  color: #fff;
}

.footer a {
  color: #fff;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color:#369866;
  color: #fff;
}