%footer.app
  .container 
    .row
      .col-lg-8.sponsors
        -# TODO: add high quality sponsor images
        -# = link_to image_tag("/assets/sponsors/sponsor-rc.png"), "http://www.runenschede.nl/"
        -# = link_to image_tag("/assets/sponsors/sponsor-sr.png"), "http://sportraadut.nl"
      .col-lg-4.adresgegevens
        %p 
          %address
            %b Drienerlose Atletiek Vereniging Kronos<br />
            Postbus 217<br />
            7500 AE Enschede<br />
            = mail_to 'info@kronos.nl'
