%header.app
  .container
    .logo-top.visible-lg-block
    .logo-top.visible-md-block
    .logo-top.visible-sm-block

  %nav.navbar.navbar-default.navbar-static-top{'role'=>'navigation'}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.visible-xs-block{:href => '/'} Kronos
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', '/'
          %li= link_to 'Agenda', '/agenda'
          %li= link_to 'Agendaitem', '/agendaitem'
          %li= link_to 'Uitslagen', '/uitslagen'
